<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Band</title>
    <style>
        .editAndDelete {
            border: none;
            background: #fff;
            color: blue;
        }
    </style>
</head>

<body>
    <div class="container">
        <a href="/logout"><button class="btn btn-danger mt-4 mb-4" style="float: right"><b>LOGOUT</b></button></a>
        <table class="table mt-5">
            <thead class="thead-dark">
                <tr>
                    <th>Bandname</th>
                    <th>Description</th>
                    <th>Number of Members</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {{#each bands}}
                <tr>
                    <td width="50%">{{bandname}}</td>
                    <td>{{description}}</td>
                    <td>{{number_of_members}}</td>
                    <td>
                        <form action="/edit/{{id}}?_method=PUT" method="post">
                            <button class="editAndDelete" type="submit"><i class='far fa-edit' style='font-size:24px'></i></button>
                        </form>
                    </td>
                    <td>
                        <form action="/delete/{{id}}?_method=DELETE" method="post">
                            <button class="editAndDelete" type="submit"><i class='fas fa-trash-restore-alt'
                                    style='font-size:24px'></i></button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/add"><button class="btn btn-primary"><b>ADD BAND +</b></button></a>
    </div>
</body>

</html> 