<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="container login-container" style="display: {{login}}">
                    <h2>Login</h2>
                    {{#if loginFailureStatus}}
                    <div class="alert alert-danger">
                        <strong>Sorry!</strong> {{loginFailureStatus}}
                    </div>
                    {{/if}}
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="useremail">Useremail:</label>
                            <input type="text" class="form-control" id="useremail" placeholder="Enter useremail"
                                name="useremail" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password"
                                name="password" required>
                        </div>
                        <div class="form-group">
                            <a href="#" style="float: right" class="forgotpassword">forgot password</a>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div class="container forget-password-container" style="display: {{forgot}}">
                    <h2>Forgot Password</h2>
                    <div class="alert alert-danger" style="display: {{forgot}}">
                        <strong>Sorry!</strong> {{message}}
                    </div>
                    <form action="/forgotpassword" method="post">
                        <div class="form-group">
                            <label for="useremail">Useremail:</label>
                            <input type="text" class="form-control" id="useremail" placeholder="Enter useremail"
                                name="useremail" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div class="container new-password-container" style="display: {{new}}">
                    <h2>New Password</h2>
                    <div class="alert alert-danger" style="display: {{otpmessageShow}}">
                        <strong>Sorry!</strong> {{otpmessage}}
                    </div>
                    <form action="/newpassword" method="post">
                        <div class="form-group">
                            <label for="userotp">OTP:</label>
                            <input type="text" class="form-control" id="userotp" placeholder="Enter otp"
                                name="userotp" required>
                        </div>
                        <div class="form-group">
                            <label for="newpassword">New Password:</label>
                            <input type="password" class="form-control" id="newpassword" placeholder="Enter new password"
                                name="newpassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6" style="border-left: 1px solid black">
                <div class="container">
                    <h2>Signup</h2>
                    {{#if signupSuccessStatus}}
                    <div class="alert alert-success">
                        <strong>Success!</strong> {{signupSuccessStatus}}
                    </div>
                    {{/if}}
                    {{#if signupFailureStatus}}
                    <div class="alert alert-danger">
                        <strong>Sorry!</strong> {{signupFailureStatus}}
                    </div>
                    {{/if}}
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username"
                                name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="useremail">Useremail:</label>
                            <input type="text" class="form-control" id="useremail" placeholder="Enter useremail"
                                name="useremail" required>
                        </div>
                        <div class="form-group">
                            <label for="userdob">DOB:</label>
                            <input type="date" class="form-control" id="userdob" placeholder="Enter userdob"
                                name="userdob" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password"
                                name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
        $(".forgotpassword").click(function () {
            $(".login-container").hide();
            $(".new-password-container").hide();
            $(".forget-password-container").show();
        });

    </script>
</body>

</html>